@model WebCadastroCliente.Models.Cliente

@{
    ViewData["Title"] = "Apagar Cliente";
}

<h1>Apagar Cliente</h1>

<h3>Deseja realizar a exclusão do registro abaixo?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RG)
        </dd>
    </dl>

    <h4>Redes Sociais</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RedesSociais.Facebook)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RedesSociais.Facebook)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RedesSociais.LinkedIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RedesSociais.LinkedIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RedesSociais.Twitter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RedesSociais.Twitter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RedesSociais.Instagram)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RedesSociais.Instagram)
        </dd>
    </dl>

    <h4>Contatos</h4>
    <hr />
    @for (var i = 0; i < Model.Telefones.Count; i++)
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Telefones[i].Numero)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Telefones[i].Numero)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Telefones[i].Identificador)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Telefones[i].Identificador)
            </dd>
        </dl>
    }

    <h4>Endereços</h4>
    <hr />

    @for (var i = 0; i < Model.Enderecos.Count; i++)
    {

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Enderecos[i].Cep)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Enderecos[i].Cep)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Enderecos[i].Logradouro)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Enderecos[i].Logradouro)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Enderecos[i].Numero)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Enderecos[i].Numero)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Enderecos[i].Complemento)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Enderecos[i].Complemento)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Enderecos[i].Bairro)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Enderecos[i].Bairro)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Enderecos[i].Cidade)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Enderecos[i].Cidade)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Enderecos[i].Estado)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Enderecos[i].Estado)
            </dd>
        </dl>
    }

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn-sm btn-danger" /> |
        <a asp-action="Index">Cancelar</a>
    </form>

</div>
    
